* {
    box-sizing: border-box;
}
button{
    margin-top: 10px;
}
body {
    margin: 0px;
}
#header {
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: #337ab7;
    margin: auto;
    box-shadow: 0 0 5px black;
}
#header h1 {
    margin: 0px;
     line-height: 50px;
    color: white;
}
.inputcontainer {
    display: flex;
    flex-direction: row;
}
.del{
    margin-left: 10px;
    align-self:flex-start; 
}
.well{
    word-break: break-all;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: auto;
    animation-name: well;
    animation-duration: 1s;
    animation-direction: normal;
}
 .inputcontainer{
        display: flex;
        flex-direction: row;
    }
    .inputcontainer label{
        align-self: center;
    }
@keyframes well{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}
/*==============codes for mobile=============*/
@media screen and (max-width:400px){
    #getcontent{
    order:1;
  width: 90%;
    margin: 10px auto;
}
    #showcontent{
    order: 2;
}
    #container {
    display: flex;
    flex-direction: column;
}
  #inputdate,
#inputtime {
    width: 100%;
    margin: 10px auto;
}  
    #myform textarea {
    width: 100%;
    resize: none;
}
}
/*==============codes for mobile=============*/
/*==============codes for tabet,desktop=============*/
@media screen and (min-width:401px){
    section{
        width: 50vw;
    }
    #myform textarea {
    width: 90%;
    margin: 10px auto;
    resize: none;
}
    #getcontent{
    order:2;
}
    #showcontent{
    order:1;
}
    #container {
    display: flex;
    flex-direction:row;
}
    #inputdate,
#inputtime {
    width: 50%;
    margin: 9px;
} 
}
/*==============codes for tabet,desktop=============*/